{% load bootstrap4 %}
<html>
    <head>
        {% bootstrap_css %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a href="{% url 'todo:search' %}">
                    <button class="btn btn-outline-secondary" type="button">TODO一覧</button>
                </a>
            </form>
        </nav>

        <div class="container">
            <form action="{% url 'todo:regist' %}" method="POST" class="form">
                {% csrf_token %}
                <input type="hidden" name="todo_id" value="{{ todo_id }}"/>
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">登録</button>
            </form>
        </div>
    </body>
</html>
